* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior:smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}     

.header-desktop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: rgb(2, 2, 26);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    height: 70px;
    
}

.logo{
    position: relative;
    width: 90px;
    cursor: default;
    opacity: 0;
    animation: slideRight 5s ease forwards;
    color: white;
    font-size: 60px;
    font-weight: 700;
    text-decoration: none;
    font-family:cursive
}

.navbar-1 a {
    display: inline-block;
    font-size: 20px;
    color:black;
    text-decoration: none;
    margin-left:35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop 2s ease forwards;
    background-color:aqua;
    border-radius: 18px;
    padding: 7px 12px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar-1 .a {
    display: inline-block;
    font-size: 20px;
    color:black;
    text-decoration: none;
    margin-left:35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop 2s ease forwards;
    background-color:white;
    border-radius: 18px;
    padding: 7px 12px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar-1 a:hover {
    box-shadow: 0 0 aqua,
        0 0 25px aqua, 0 0 50px aqua,
        0 0 10px aqua, 0 0 280px aqua
}

.navbar-1 a:hover {
    color:white;
}

.navbar-1 .a:hover{
    color: red;

}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-size: cover;
    background-image: url(/web\ background.png);
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10%;
}
.bg1{
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 49rem;
    z-index: -100;
}

.home-content {
    max-width: 600px;
}

.home-content h3, span {
    color: aqua;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideLeft 2s ease forwards;
    animation-delay: .7s; 
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom .5s ease forwards;
    animation-delay: .7s;
    color: antiquewhite;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight .5s ease forwards;
    animation-delay: 1s;
    color: white;
}

.home-content p {
    font-size: 20px;
    opacity: 0;
    animation-delay: 1s;
    animation: slideLeft .9s ease forwards;
    color: antiquewhite;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid aqua;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft .9s ease forwards;
    animation-delay: calc(.2s * var(--1));
    margin: 30px 15px 30px 0;
    box-shadow: 0 0 15px aqua;
}
.social-media{
    width: 19rem;
}

.social-media a:hover {
    background-color: aquamarine;
    color:black;
    box-shadow: 0 0 20px aqua;
}

/*----------------------SECTION B (ABOUT)---------------------------------------------*/

.about-me {
    display: inline-block;
    padding: 12px 28px;
    background: lime;
    border-radius: 48px;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    margin-top: 10px;
    animation: slideTop 3s ease forwards;
    animation-delay: calc(.2s * var(--1));
    box-shadow:  0 5px aqua;
}

.about-me:hover {
    box-shadow: 0 0 aqua,
        0 0 25px aqua, 0 0 50px aqua,
        0 0 10px aqua, 0 0 280px aqua
}


.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
    background-color: rgb(22, 21, 21);
    padding-top: 50px;
    padding-bottom: 50px;
}
.about-img img{
    margin-left: 70px;
    width: 30rem;
    height: 29rem;
    border-radius: 50%;
    filter: brightness(40%);
    box-shadow: 0 0 50px aqua;

}
.about-text h2{
    color: white;
}
.about-text h2 span{
    color: aqua;          
}

.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: aqua;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p{
    color: antiquewhite;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;   
}

/*---------------------SECTION C------------------------------- */


.services{
    color: aliceblue;
    background-color: black;
    width:100%;
    font-size: 20px;
    margin-bottom: 4rem;
    line-height:1.4;
}
.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
    color: white;
}
.sub-title span{
    color: aqua;
}
.container{
    padding:50px;
}
.services-list{
    display:flex;
    grid-gap: 40px;
    margin-top: 30px;
    width:100%;
}

.services-list div {
    background-color: transparent;
    padding: 30px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition:  0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px aqua, 
                1px 1px 40px aquamarine;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.read{
    display: inline-block;
    padding: 12px 28px;
    background-color: aqua;
    border-radius: 40px;
    font-size: 16px;
    columns: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideLeft 3s ease forwards;
    animation-delay: calc(.2s * var(--1));
    box-shadow:  0 5px aqua;
}
.read:hover{
    box-shadow: 0 0 aqua,
        0 0 25px aqua, 0 0 50px aqua,
        0 0 10px aqua, 0 0 280px aqua
}

.services-list div:hover{
    transform: translateY(-80px);
}


/*---------------------SECTION D------------------------------- */



.main-text{
    padding-top: 30px;
    margin-top: 10px;
}
.main-text h2{
    font-size: 60px;
    line-height: 1;
    text-align: center;
    margin-bottom: 5rem;
}
.main-text h2 span{
    color: aqua;
}
.portfolio-content{
    display:flex;
    grid-template-columns: repeat(auto-fit,minmax(159px,a auto));
    width: 100%;
}


.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

.portfolio-content, .row, img{
    border-radius: 20px;
    width: 98%;
    height:20rem;
    padding-left: 10px;
    gap: 0.9rem;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1),aqua);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.layer h5{
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}
.layer p{
    color: black;
    font-size: 1rem;
}
.layer i{
    margin: top 20px;
    font-size: 20px;
    background:white;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.row:hover img{
    transform: scale(1.1);
}
.row:hover .layer{
    height: 100%;
}

/*---------------------SECTION E------------------------------- */


.contact{
    display:flex;
    grid-template-columns: repeat((2,1fr));
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
    background-color:beige;
}
.contact-text h2{
    font-size: 90px;
    line-height: 1;
    text-align: center;
}
.contact-text h2 span{
    color: aqua;
}
.contact-text h4{
    margin: 15px 0;
    color: aqua;
    font-size: 20px;
    font-weight: 600;
}
.contact-text p{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list{
    margin-bottom: 3rem;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list i{
    display: inline-block;
    color: aqua;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
} 
.contact-list li:hover{
    transform: scale(1.01) translate(-5px);
    color: aqua;
}
.contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    background: transparent;
    border: 2px solid aquamarine;
    border-radius: 50%;
    color: aqua;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--1 ));
}
.contact-icons i:hover{
    background: aqua;
    color: black;
    box-shadow: 0 0 20px aqua;
}
.contact-form form{
    position: relative;
}
.contact-form form ::placeholder{
    color: aqua;
}
.contact-form form input,form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: black;
    color:white;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form textarea{
    resize: none;
    height: 220px;
}
.contact-form form .send{
    display: inline-block;
    padding: 14px 60px;
    background-color: aqua;
    border-radius: 40px;
    font-size: 18px;
    columns: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideRight 3s ease forwards;
    animation-delay: calc(.2s * var(--1));
    box-shadow:  0 5px aqua;
    margin-left: 14rem;
}
.contact-form form .send:hover{
    box-shadow: 0 0 aqua,
        0 0 25px aqua, 0 0 50px aqua,
        0 0 10px aqua, 0 0 280px aqua
}
.last-text p{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background-color: rgb(2, 2, 26);
    font-weight: 300;
    margin-top: 70px;
    color:white;
    font-weight: 200px;
    bottom: 0;
}
.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2,1rem;
}

.wap{
    position: fixed;
    bottom: 2.1rem;
    right: 1%;
}

.top i{
    color: black;
    background: aqua;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0; 
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.navbar {
    visibility: collapse;
}


@media screen and (max-width: 768px) {
    
    .navbar{
        visibility: visible;
    }

    .header-desktop{
        visibility: collapse;
    }
    
    .container-fluid{
        position: absolute;
        z-index: 100;
        padding-top: 2rem;
        position: fixed;
        background-color:rgb(18, 18, 58);

    }
    .navbar a {
        font-size: 40px;
    }
    .navbar-toggler{
        border-color: white;
        border: 1.7px solid white;
    }
    .home{
        padding-top: 5rem;   
        background-size: 50rem;
    }
    .home-content h3 {
        font-size: 20px;
    }
    .home-content h1 {
        font-size: 50px;
    }
    .about-text{
        position: absolute;
        padding-left: 2rem;
        padding-top: 4rem;
    }
    .about-img img{
        width: 20rem;
        height: 21rem;
        margin-left: -10px;
    }
    .sub-title{
        font-size: 40px;
        padding-bottom: 70px;
        color: white;
    }
    .services-list{
        display:grid;
        grid-gap: 40px;
        margin-top: 30px;
        width:10px;
    }
    .main-text{
        margin-top: 5px;
    }
    .main-text h2{
        font-size: 40px;
        line-height: 1;
        text-align: center;
        margin-bottom: 2rem;
    }
    .services-list div {
        background-color: transparent;
        display: grid;
        width: 18rem;
        padding: 20px;
        margin-left: 1rem;
    }
    .portfolio-content{
        display: inline;
    }
    .portfolio-content, .row, img{
        border-radius: 20px;
        width: 20rem;
        justify-content: center;
        justify-items: center;
        align-items: center;
        height:18rem;
        padding-left:2rem;
    }
    
    .contact{
        display:inline;
        background-color:transparent;
    }
    .contact-icon{
        margin-left: 1rem;
    }
    .contact-text h2 span{
        margin-left: 1rem;
    }
    .contact-text h4{
        margin-left: 1rem;
    }
    .contact-text p{
        margin-left: 1rem;
    }
    .contact-list{
        margin-left: 1rem;
    }
    .contact-list li{
        margin-left: 1rem;
    }    
    .contact-form form{
        margin-top: 2rem;
        position: relative;
        text-align: center;
    }
    .contact-form form .send{
        margin-left: -1.5rem;
    }
    .contact-text h2{
        font-size: 70px;
    }
    .offcanvas-header{
        background-color:rgb(15, 15, 44);
    }
    .offcanvas-body{
        background-color:rgb(21, 21, 88);
        height:-500px;
        background-size: contain;
    }
    .dropdown-menu{
        background-color:rgb(21, 21, 88);
    }
    .navbar-nav li a{
        font-size: 1.9rem;
    }
   
    
}
